# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/

# NuGet
*.nupkg
*.snupkg
packages/

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
*.pyc

# Logs
*.log